{% extends "layout.html" %}


{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/content/about.css" />
</head>


<h1>Biographies</h1>
<p class="lead">Wonderful worker bios, short and sweet</p>
<hr />
<div class="row">
    <div class="col-sm-6"><img class="person" id="oddperson" src="/static/images/sunglasses.jpeg" alt="Person 1" /></div>
    <div class="col-sm-6">
        <h1>Me llamo es Alpha Delta</h1><br />
        <h2>Something Quaint About Me</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <h3>Why I love YO</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <h3>
            Find me on social media
            <p></p><a class="btn btn-default" href="#" role="button">Twitter » </a><a class="btn btn-default" href="#" role="button">Facebook »</a><a class="btn btn-default" href="#" role="button">LinkedIn »</a>
        </h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6"><img class="person" src="/static/images/sunglasses.jpeg" alt="Person 1" /></div>
    <div class="col-sm-6">
        <h1>Me llamo es Bravo Charlie</h1><br />
        <h2>Something Quaint About Me</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <h3>Why I love YO</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <h3>
            Find me on social media
            <p></p><a class="btn btn-default" href="#" role="button">Twitter » </a><a class="btn btn-default" href="#" role="button">Facebook »</a><a class="btn btn-default" href="#" role="button">LinkedIn »</a>
        </h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6"><img class="person" id="oddperson" src="/static/images/sunglasses.jpeg" alt="Person 1" /></div>
    <div class="col-sm-6">
        <h1>Me llamo es Charlie Delta</h1><br />
        <h2>Something Quaint About Me</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <h3>Why I love YO</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <h3>
            Find me on social media
            <p></p><a class="btn btn-default" href="#" role="button">Twitter » </a><a class="btn btn-default" href="#" role="button">Facebook »</a><a class="btn btn-default" href="#" role="button">LinkedIn »</a>
        </h3>
    </div>
</div>
{% endblock %}
