{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/content/diy.css" />
</head>

<body>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Junior League's DIY Methodology</h1>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <h3>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</h3>
        </div>
    </div> <!--first row-->

    <div class="row">
        <div class="col-sm-6 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-6 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div> <!--second row-->

    <div class="row">
        <div class="col-sm-4 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-4 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-4 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div> <!--third row-->

    <div class="row">
        <div class="col-sm-4 text-center">
            <h2> 4th thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-4 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-4 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div> <!--fourth row-->

    <div class="row">
        <div class="col-sm-4 text-center">
            <h2> 5th thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-4 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-4 text-center">
            <h2> First thing of how we chose YO </h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div> <!--fifth row-->
    
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>We even got a website put together for them!</h2>
            <br />
            <a href="/templates/donations.html"><img class="img-circle mainimage" src="/static/images/YOlogo.jpg" alt="Meals" /></a>
            <h4>This is who we are and what we do!</h4>
        </div>
    </div> <!--sixth row-->
</body>

{% endblock %}
