{% extends "layout.html" %}

{% block content %}
<h1>Sponsors and Friends of YO!</h1>
<p class="lead">Big mahalo to all of our supporters!</p>
<p>Grid will change based on number of sponsors and friends shown for better viewing</p>
<hr />
<div class="row">
    <div class="col-sm-6">
        <h2>Company 1</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company 1 »</a>
    </div>
    <div class="col-sm-6">
        <h2>Company 2</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company 2 »</a>
    </div>
    <div class="col-sm-6">
        <h2>Company 3</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company 3 »</a>
    </div>
    <div class="col-sm-6">
        <h2>Company 4</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company 4 »</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6">
        <h2>Company A</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company A »</a>
    </div>
    <div class="col-sm-6">
        <h2>Company B</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company B »</a>
    </div>
    <div class="col-sm-6">
        <h2>Company C</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company C »</a>
    </div>
    <div class="col-sm-6">
        <h2>Company D</h2>
        <p>Add logo, link, and maybe even a coupon?</p><a class="btn btn-default" href="#" role="button">Company D »    </a>
    </div>
</div>
{% endblock %}
